@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;
}
.liveStudentCard {
  width: 18rem;
}
.graveStoneCard {
  width: 18rem;
}
.shark-tank-container {
  background-color: lightblue;
}
.graveyard-container {
  background-color: grey;
}